{
 # Global options - works for both environments
acme_ca https://acme-v02.api.letsencrypt.org/directory
email {$LETSENCRYPT_EMAIL}
import /etc/caddy/addons/*.conf
}


# N8N
{$N8N_HOSTNAME} {
 # For domains, Caddy will automatically use Let's Encrypt
 # For localhost/port addresses, HTTPS won't be enabled
 reverse_proxy n8n:5678
}

# Open WebUI
{$WEBUI_HOSTNAME} {
 reverse_proxy open-webui:8080
}

# Ollama API (disabled)
# {$OLLAMA_HOSTNAME} {
# reverse_proxy ollama:11434
# }

# Supabase
# {$SUPABASE_HOSTNAME} {
#  reverse_proxy kong:8000
# }

# Neo4j
# {$NEO4J_HOSTNAME} {
#  reverse_proxy neo4j:7474
# }

# Moltbot / OpenClaw
# {$MOLTBOT_HOSTNAME} {
#  reverse_proxy moltbot:18789
# }


# SearXNG example (fully commented & closed)
# {$SEARXNG_HOSTNAME} {
# encode zstd gzip
#
# @api {
# path /config
# path /healthz
# path /stats/errors
# path /stats/checker
# }
# @search {
# path /search
# }
# @imageproxy {
# path /image_proxy
# }
# @static {
# path /static/*
# }
#
# header {
# # header config here
# }
# }