services:
  open-webui:
    ports:
      - 127.0.0.1:8080:8080

  n8n:
    ports:
      - 127.0.0.1:5678:5678

  qdrant:
    ports:
      - 127.0.0.1:6333:6333
      - 127.0.0.1:6334:6334

  neo4j:
    ports:
      - 7473:7473
      - 7474:7474
      - 7687:7687

  searxng:
    ports:
      - 127.0.0.1:8081:8080

  ollama-cpu:
    ports:
      - 127.0.0.1:11434:11434

  ollama-gpu:
    ports:
      - 127.0.0.1:11434:11434

  ollama-gpu-amd:
    ports:
      - 127.0.0.1:11434:11434

  openclaw:
    ports:
      - 18789:18789
      - 18790:18790
